.current-route {
  text-decoration: underline;
}

body{
  font-weight: 500;
  min-height: 100vh;
  width: 100%;
    perspective-origin: 0% 50%;
    perspective: 800px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;

}
nav, main {
    transition: transform 150ms ease-out;
}
nav {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15em;
    background-color: #353441;
    transform: translateX(-15em);
}
nav.menu-active {
    transform: translateX(0);
}
nav.menu-hover {
    transform: translateX(-15em);
}
nav h1 {
    z-index: 100;
    display: block;
    position: absolute;
    top: 0;
    right: -75px;
    height: 60px;
    width: 75px;
    line-height: 60px;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background-color: #353441;
    cursor: pointer;
}
nav h1:hover {
    color: #353441;
    background: #fff;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li  {
    display: inline-block;
    padding: 0 1em;
    width: 100%;
    height: 60px;
    color: #9dc6d1;
    line-height: 60px;
    background-color: #353441;
    transition: all 0.5s ease-in;
    text-align: center;

    a {
        width: 100%;
        height: 100%;
        color: white;
        font-size: 18px;
        transition: .4s;
        padding: 6px 25%;

        &:hover {
            color : white;
            text-shadow: 0 0 2px rgba(0,0,0,.4);
            font-size: 20px;
            transition: .4s;
            text-decoration: none;
        }
    }
}
nav li:nth-of-type(2n) {
    background-color: #3a3947;
}
nav li:hover {
    background: rgb(95, 170, 255);
    color: white;

}
main {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    transform-origin: 0% 50%;
    background-size: cover;
}
main:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, transparent, rgba(33, 33, 45, .5));
    visibility: hidden;
    opacity: 0;
    transition: opacity 150ms ease-out, visibility 0s 150ms;
}
main.menu-active {
    border-radius: 0.001px;
    transform: translateX(16em) rotateY(15deg);
}
main.menu-active:after {
    visibility: visible;
    opacity: 1;
    transition: opacity 150ms ease-out, visibility 0s;
}
main.menu-hover {
    border-radius: 0.001px;
    transform: translateX(1em) rotateY(1deg);
}
main section {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width:100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, .5);
    min-height: 95vh;
}
section h1 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2em;
}
section p {
    display: inline-block;
    margin: 16px 0;
}

#svg-background {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 0;
  left: 0;
  z-index: -1;
}

.my-bg {
  background: linear-gradient(to right, rgb(0, 91, 255), rgb(95, 170, 255));
}

.text-inherit, .nav-item {
  color: inherit !important;
  font-weight: inherit !important;
}

.nav-link:hover{
  color: #d3d3d7 !important;
  transition: .3s;
}
.navbar-brand:hover{
  color: #d3d3d7 !important;
  transition: .3s;
}

.big-font {
  font-weight: 600;
}

.highlight-big {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 42px;
  border: 3px solid #ffffff;
  padding: 0 12px 0 12px;
  border-radius: 32px;
  background: rgb(255, 255, 255);
  color: #0044ff;
}

.highlight-min {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 28px;
  border: 3px solid white;
  padding: 0 8px 0 8px;
  border-radius: 24px;
  background: rgb(255, 255, 255);
  color: #0044ff;
}

.highlight-min-min {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 22px;
  border: 1px solid white;
  padding: 0 6px 0 6px;
  border-radius: 22px;
  background: rgb(255, 255, 255);
  color: #0044ff;
}

.highlight-btn {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 30px;
  border: 3px solid #f9f9f9;
  padding: 8px 18px 8px 18px;
  border-radius: 40px;
  background: rgb(255, 255, 255);
  color: #0044ff;
}
.highlight-btn-small{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 28px;
  border: 3px solid #f9f9f9;
  padding: 2px 32px 2px 632px;
  border-radius: 28px;
  background: rgb(255, 255, 255);
  color: #0044ff;
}

.line-height-16{
  line-height: 1.6;
}

.my-shadow {
  box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.24);
}

footer {
  width: 100%;
  min-height: 100px;
}

.footer-logo {

}

.my-container{
  position: relative;
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.posa {
  position: absolute;
  width: 100%;
}
#second-block{
  //box-shadow: inset 0 0 8px 2px rgba(0, 91, 255, 0.21);
}
